*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  position: relative;
  margin: 0;
  font: 16px/1.5 serif;
  color: #ccc;
  background: #000;
  min-width: 720px;
}
a {
  color: inherit;
}
button {
  height: 30px;
  padding: 0 6px;
  color: #ccc;
  background: #000;
  border: 2px solid;
  border-color: #fff #888 #888 #fff;
  cursor: pointer;
  outline: 0;
}
button:active:not(:disabled) {
  border: 2px solid;
  border-color: #888 #fff #fff #888;
}
button:disabled {
  color: #aaa;
  border-color: #888;
  cursor: default;
}
button:focus-visible {
  border-color: transparent;
  outline: 2px solid #ccc;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-bottom: 20px;
}
header h1 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}
header h2 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
}
header input[type="text"] {
  height: 30px;
  width: 55px;
  font-size: 20px;
  font-family: serif;
  text-align: center;
  color: #ccc;
  border: 0;
  background: transparent;
  margin-right: 20px;
  margin-left: 4px;
}
header input[type="text"]:focus {
  outline: 2px solid #ccc;
}
.bag {
  height: 450px;
  padding: 0;
  margin: 0;
  border: 2px solid #ccc;
}
.bag img {
  width: 100%;
  height: 100%;
}
.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 80px 0;
  margin: 0 auto;
  justify-content: center;
}
.options {
  position: absolute;
  top: 80px;
  left: 100%;
  padding-left: 20px;
  user-select: none;
  display: flex;
  flex-direction: column;
}
.options-left {
  left: auto;
  right: 100%;
  padding-left: 0;
  padding-right: 20px;
  align-items: flex-end;
}
.options h1 {
  height: 30px;
  margin: 20px 0 0;
  font: inherit;
}
.options h1:first-of-type {
  margin-top: 50px;
}
.options label {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}
.options input {
  margin-right: 10px;
  margin-left: 0;
}
.options-left input {
  margin-right: 0;
  margin-left: 10px;
}
aside {
  position: fixed;
  top: 10px;
  right: 10px;
}
aside button {
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
}
aside p {
  width: 400px;
  margin: 15px;
  padding: 20px;
  background: #000;
  border: 2px solid #fff;
}
